header{
    text-align:center;
    background-color:rgb(120,120, 120);
    height:100%;
}

section{
    background-color:rgb(48,91,85);
    padding-top:15px;
    padding-bottom: 400px;
    padding-left: 10px;
    padding-right: 10px;
    display:inline-block;
    vertical-align: top;
    min-height:100%;
    width:10%;

}

article{
    background-color:rgb(134,134,134);
    padding:50px 64px;
    height:100%;
    width:75%;
    display:inline-block;
    vertical-align:top;
    margin-left: 0;
    
    
}

figure{
    margin-left: 0;
}

img{
    width:200px;
}


body{
    background-color:rgb(84,66,66);
}

h2{
    font-size:26px;
    padding-bottom:50px;
    
}

h1{
    font-size:50px;
    padding-top:50px;
    padding-bottom:5px;
}

#important{
    color:white;
    
}

#to-do{
    font-size:32px;
}

li{
    font-size: 25px;
}
/**
main{
    height:100%;
    margin:0 auto;
}
**/